{% style %}
@media only screen and (max-width: 1024px) {
  #account-text {
    display: none;
  }
}
{% endstyle %}

{%- if customers != 'none' and shop.customer_accounts_enabled -%}
  {%- liquid
    assign tooltip_content = 'customer.login.sign_in' | t
    if customer
      assign tooltip_content = 'customer.account.details' | t
    endif
  -%}
  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="m-header__icon m-header__icon--account block">
    <span class="m:block m-header__icon-group"
      {% unless customers == 'icon-text' %}
      data-tippy-theme="m-color-{{ color_scheme }}" data-tippy-content="{{ tooltip_content }}" data-tippy-placement="bottom"
      {% endunless %}
    >
      <svg class="m-svg-icon--{{ icon_size }}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 15C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 12.3137 8.68629 15 12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3 20.25C4.81594 17.1122 8.11406 15 12 15C15.8859 15 19.1841 17.1122 21 20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      {% if customers == 'icon-text' %}
        <div id="account-text" class="m:flex-col m:display-flex">
          <span class="m-header__icon-text-small m:text-small">{{ 'customer.account.welcome' | t }}</span>
          <span class="m-icon-text">
            {%- liquid
              if customer
                echo 'customer.account.details' | t
              else
                echo 'customer.login.sign_in' | t
              endif
            -%}
          </span>
        </div>
      {% endif %}
    </span>
  </a>
{%- endif -%}