{% liquid
  if settings.wishlist_page != blank
    assign url = pages[settings.wishlist_page].url
  else
    assign url = '/pages/wishlist'
  endif

  assign wishlist_app = settings.wishlist_app
%}
{% if show_wishlist %}
  {% if wishlist_app == 'growave' %}
    {% if shop.customer_accounts_enabled %}
      {% liquid
        assign ssw_fave_enabled = 1
        if shop.metafields.ssw.fave_enabled
          assign ssw_fave_enabled = shop.metafields.ssw.fave_enabled | plus: 0
        endif
      %}
      {% if ssw_fave_enabled == 1 %}
        <a
          class="m-header__icon m-header__icon--wishlist ssw-link-fave-menu ssw-link-fave-menu-hide-count m:hidden md:m:block"
          href="{{ url }}"
          aria-label="{{ shop.metafields.ssw.lang.my_faves }}"
        >
          <span data-tippy-theme="m-color-{{ color_scheme }}" data-tippy-content="{{ 'layout.wishlist.title' | t }}" data-tippy-placement="bottom" class="m:block m-header__icon-group">
            <svg class="m-svg-icon--{{ icon_size }}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 20.25C12 20.25 2.25 15 2.25 8.8125C2.25 7.46984 2.78337 6.18217 3.73277 5.23277C4.68217 4.28337 5.96984 3.75 7.3125 3.75C9.43031 3.75 11.2444 4.90406 12 6.75C12.7556 4.90406 14.5697 3.75 16.6875 3.75C18.0302 3.75 19.3178 4.28337 20.2672 5.23277C21.2166 6.18217 21.75 7.46984 21.75 8.8125C21.75 15 12 20.25 12 20.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          <span class="ssw-counter-fave-menu m-wishlist-count" style="display:none">0</span>
        </a>
        <script defer>
          var sswFaveCounterMenuLoaded = true;
        </script>
      {% endif %}
    {% endif %}
  {% else %}
    <a href="{{ url }}" class="m-header__icon m-header__icon--wishlist m:hidden md:m:block" aria-label="{{ 'accessibility.addons.wishlist' | t }}">
      <span data-tippy-theme="m-color-{{ color_scheme }}" data-tippy-content="{{ 'layout.wishlist.title' | t }}" data-tippy-placement="bottom" class="m:block m-header__icon-group">
        <svg class="m-svg-icon--{{ icon_size }}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 20.25C12 20.25 2.25 15 2.25 8.8125C2.25 7.46984 2.78337 6.18217 3.73277 5.23277C4.68217 4.28337 5.96984 3.75 7.3125 3.75C9.43031 3.75 11.2444 4.90406 12 6.75C12.7556 4.90406 14.5697 3.75 16.6875 3.75C18.0302 3.75 19.3178 4.28337 20.2672 5.23277C21.2166 6.18217 21.75 7.46984 21.75 8.8125C21.75 15 12 20.25 12 20.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <sup class="m-wishlist-count m:hidden"></sup>
      </span>
    </a>
  {% endif %}
{% endif %}
