{%- liquid
  assign product_type_search_enabled = settings.product_type_search_enabled
  assign product_type_custom = settings.product_type_search_custom

  capture all_product_type
    for type in shop.types
      if type != blank
        echo type | strip | append: ','
      endif
    endfor
  endcapture
  assign all_product_type_custom = product_type_custom | split: ','
  assign all_product_type = all_product_type | split: ',' | uniq | join: ',' | split: ','

  if all_product_type_custom.size > 0
    capture product_types_custom
      for type in all_product_type_custom
        assign type_item = type | strip
        if all_product_type contains type_item
          echo type | append: ','
        endif
      endfor
    endcapture
    assign product_types = product_types_custom | split: ','
  else 
    assign product_types = all_product_type
  endif

  assign has_search_product_type = false
  if all_product_type.size > 0
    assign has_search_product_type = true
  endif
-%}
{%- if settings.predictive_search_enabled -%}
  <predictive-search class="m-search {{ classes }}" data-loading-text="{{ 'accessibility.loading' | t }}">
{%- else -%}
  <search-form class="m-search {{ classes }}">
{%- endif -%}
<form action="{{ routes.search_url }}" method="get" role="search" class="m-search-form{% if has_search_product_type and product_type_search_enabled and settings.predictive_search_enabled %} m-search-form__has-filter{% endif %}">
  <div class="m-search-form__wrapper">
    {% if has_search_product_type and product_type_search_enabled and settings.predictive_search_enabled %}
      <div class="m-search-form__select">
        <label for="search-product-type" class="m:hidden">{{ 'sections.header.search_filter.option_1' | t }}</label>
        <select data-predictive-search-filter id="search-product-type">
          <option disabled>{{ 'sections.header.search_filter.option_1' | t }}</option>
          <option data-index="0" value selected>{{ 'sections.header.search_filter.option_2' | t }}</option>
          {% for product_type in product_types %}
            <option data-index="{{ forloop.index }}" value="{{ product_type | strip }}">{{ product_type }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    <input
      class="search__input field__input form-field form-field--input m-search__input"
      id="{{ input_id }}"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.search_field_placeholder' | t }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
    >
    <input type="hidden" name="options[prefix]" value="last">
    <input type="hidden" id="product_type_input" name="filter.p.product_type">
    <div class="m-search-form__buttons">

      <button
        type="reset"
        class="reset__button m-search-form__reset--button{% if search.terms == blank %} m:hidden{% endif %}"
        aria-label="{{ 'general.search.reset' | t }}"
      >
        <svg class="m-svg-icon--large" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.75 5.25L5.25 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M18.75 18.75L5.25 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="search__button m-search-form__search--button m-spinner-button search__button--{{ section.settings.search_button }}" aria-label="{{ 'general.search.search' | t }}">
        {% if section.settings.search_button == 'icon' or section.settings.search_button == 'icon-plain' %}
          <svg class="m-svg-icon--large" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.8032 15.8035L20.9998 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        {% else %}
          <span>{{ 'general.search.search_button_label' | t }}</span>
        {% endif %}
        <span class="m-spinner-icon">
          <svg
            class="animate-spin m-svg-icon--medium"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
          >
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
            <path fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </span>
      </button>
      
    </div>
  </div>
  {%- if settings.predictive_search_enabled -%}
    <div class="m-predictive-search m-gradient m-color-{{ settings.popups_drawer_color_scheme }}" tabindex="-1" data-predictive-search>
    </div>
    <span class="m-predictive-search-status m:visually-hidden" role="status" aria-hidden="true"></span>
  {%- endif -%}
</form>
{%- if settings.predictive_search_enabled -%}
  </predictive-search>
{%- else -%}
  </search-form>
{%- endif -%}
