<header-drawer class="m:block xl:m:hidden">
  <div class="m-menu-drawer-container m:display-flex" data-main-details-toggle>
    <button class="m-menu-drawer__icon-menu" data-summary-button aria-label="{{ 'accessibility.addons.menu' | t }}">
      <span>
        <svg
          class="m-icon-hamburger m-svg-icon--large"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.75 6H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.75 18H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg
          class="m-icon-close m-svg-icon--large"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M18.75 5.25L5.25 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M18.75 18.75L5.25 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
    <div class="m-menu-drawer m-gradient m-color-{{ settings.popups_drawer_color_scheme }}">
      <div class="m-menu-drawer__inner-container">
        <div class="m-menu-drawer__navigation-container">
          <ul class="m-menu-drawer__menu m-has-submenu" role="list">
            {%- render 'header-addon-mega-menu-mobile', section: section -%}
            {%- for link in section.settings.menu.links -%}
              {%- if link.links != blank -%}
                <li
                  class="m-menu-drawer__menu-item m-list-menu__item {% if link.child_active %} m-menu-drawer__menu-item--active{% endif %}"
                  data-main-details-toggle
                >
                  <a href="{{ link.url }}" class="m-link m-link--text m:display-flex m:justify-between m:w-full">
                    {{ link.title | escape }}
                    <span class="m-menu-drawer__menu-icon" data-summary-button>
                      <svg class="m-svg-icon--small" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.5 2.25L8.25 6L4.5 9.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                  </a>
                  <div class="m-menu-drawer__submenu m-has-submenu" tabindex="-1">
                    <div class="m-menu-drawer__inner-submenu m-scrollbar--vertical">
                      <button class="m-menu-drawer__close-button m-link m-link--text" aria-expanded="true">
                        <svg
                          class="m-svg-icon--small"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M7.5 2.25L3.75 6L7.5 9.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        {{ link.title | escape }}
                      </button>
                      <header-dropdown-menu class="m:block">
                        <ul class="m-menu-dropdown__menu">
                          {%- for childlink in link.links -%}
                            {%- if childlink.links == blank -%}
                              <li class="m-menu-dropdown__menu-item">
                                <a href="{{ childlink.url }}" class="m-link m-link--text m:display-flex m:items-center">
                                  {{ childlink.title | escape }}
                                </a>
                              </li>
                            {%- else -%}
                              <li class="m-menu-dropdown__menu-item m-has-submenu" data-main-toggle-dropdown>
                                <a href="{{ childlink.url }}" class="m-link m-link--text m:display-flex m:items-center">
                                  {{ childlink.title | escape }}
                                  <span class="m-menu-drawer__menu-icon" data-toggle-dropdown>
                                    <svg
                                      class="m-svg-icon--small"
                                      viewBox="0 0 12 12"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path d="M2.25 4.5L6 8.25L9.75 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                  </span>
                                </a>
                                <ul
                                  class="m-menu-dropdown__submenu"
                                  role="list"
                                  tabindex="-1"
                                >
                                  {%- for grandchildlink in childlink.links -%}
                                    <li class="m-menu-dropdown__submenu-item {% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}">
                                      <a
                                        href="{{ grandchildlink.url }}"
                                        class="m-link m-link--text m:display-flex"
                                        {% if grandchildlink.current %}
                                          aria-current="page"
                                        {% endif %}
                                      >
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      </header-dropdown-menu>
                    </div>
                  </div>
                </li>
              {%- else -%}
                <li
                  class="m-menu-drawer__menu-item m-list-menu__item {% if link.child_active %} m-menu-drawer__menu-item--active{% endif %}"
                >
                  <a href="{{ link.url }}" class="m-link m-link--text m:display-flex m:justify-between m:w-full">
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
          <div class="m-menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="m-menu-drawer__account m:display-flex m:items-center"
              >
                <span>
                  <svg class="m-svg-icon--xlarge" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 15C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 12.3137 8.68629 15 12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 20.25C4.81594 17.1122 8.11406 15 12 15C15.8859 15 19.1841 17.1122 21 20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <span class="m:display-flex m:flex-col">
                  <span class="m:text-small">{{ 'customer.account.welcome' | t }}</span>
                  <span>
                    {%- liquid
                      if customer
                        echo 'customer.account.title' | t
                      else
                        echo 'customer.login.sign_in' | t
                      endif
                    -%}
                  </span>
                </span>
              </a>
            {%- endif -%}
            {%- liquid
              if section.settings.custom_icon != blank
                echo section.settings.custom_icon
              endif
            -%}
          </div>
          <div class="m-menu-drawer__orther-links m:display-flex m:flex-col">
            {% if section.blocks.size > 0 %}
              {%- liquid
                assign hasLinks = section.blocks | where: 'type', 'link'
                assign hasHtml = section.blocks | where: 'type', 'html'
              -%}
              <div class="m-menu-drawer__blocks m:display-flex m:flex-col">
                {% if hasLinks %}
                  <ul class="">
                    {% for block in section.blocks %}
                      {% if block.type == 'link' and block.settings.link_title != blank %}
                        <li class=""><a class="m:display-flex m:items-center" href="{{ block.settings.link_url }}">{{ block.settings.link_title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
                {% if hasHtml %}
                  {% for block in section.blocks %}
                    {% if block.type == 'html' and block.settings.html != blank %}
                      <div class="m:display-flex m:items-center">{{ block.settings.html }}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="m-menu-drawer__localization">
                <localization-form>
                  {%- form 'localization', id: 'HeaderDrawerCountryForm', class: 'm-localization-form' -%}
                    {%- render 'country-localization', localPosition: 'HeaderDrawerCountry', panelPosition: 'top' -%}
                  {%- endform -%}
                </localization-form>
              </div>
              <div class="m-menu-drawer__social-media-links">
                {%- render 'social-media-links' -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</header-drawer>
