{% comment %}
  Accepts:
  - view: {String} Product view: grid, list. Default: grid (optional)
  - show_border
  - color_scheme
  - animated
  - animation_effect

  Usage:
  {% render 'product-card-placeholder' %}
{% endcomment %}

{% liquid
  assign view = view | default: 'grid'
  if color_scheme == nil
    assign color_scheme = settings.pcard_color_scheme
  endif
  if show_border == nil
    assign show_border = settings.pcard_show_border
  endif

  assign product_card_classes = 'm-product-card m-product-card--placeholder m-product-card--view-' | append: view
  if show_border or card_bordered == true
    assign product_card_classes = product_card_classes | append: ' m-product-card--bordered'
  endif
%}

<div
  class="{{ product_card_classes }}{% if color_scheme %} m-gradient m-color-{{ color_scheme }}{% endif %}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
  {% if animated %}
    data-cascade
    style="--animation-order: {{ index }};"
  {% endif %}
>
  <div class="m-product-card__media m-image" style="--aspect-ratio: 1/1;">
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {{
      'product-'
      | append: current
      | placeholder_svg_tag: 'm-placeholder-svg m:object-cover m:w-full m:h-full'
    }}
  </div>
  <div class="m-product-card__content m:text-{{ settings.pcard_alignment }}">
    <div class="m-product-card__info">
      <div class="m-product-card__name{% if settings.uppercase_prd_name %} m:uppercase{% endif %}">
        {{ 'homepage.onboarding.product_title' | t }}
      </div>
      <div class="m-product-card__price">
        <p class="m-price">$19.99</p>
      </div>
    </div>
  </div>
</div>