{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="js {% if settings.page_transition %} m:overflow-hidden{% endif %}"
  lang="{{ request.locale.iso_code }}"
  {% if enable_rtl %}
    dir="rtl"
  {% endif %}
  data-template="{{ template.name }}"
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0{% comment %}, user-scalable=0{% endcomment %}">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    {% if enable_rtl %}
      {{ 'rtl.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}     

    {%- liquid
      render 'social-meta-tags'
      render 'preload'
      render 'SEO' 
      render 'social-meta-tags' 
      render 'font-face'
    -%}

    {% render 'critical-css' %}
    {% render 'custom-code-head' %}

    {{ 'grid.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'modules.css' | asset_url | stylesheet_tag }}
    {{ 'rtl.css' | asset_url | stylesheet_tag }}

    {% render 'style-tags' %}

    <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>

    {%- if settings.animations != 'none' -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {% capture MyJsFunc %}load', function(){}{% endcapture %} {% capture MyJsFunc2%}document.addEventListener('StartAsyncLoading',function(event){asyncLoad();});if(window.attachEvent){%endcapture %} {% capture MyJsFunc3%}document.addEventListener('StartAsyncLoading',function(event){prefetchAssets();});{%endcapture %} {% if template contains "index" or template contains "product" or template contains "collection" or page.url contains "pages" or blog.url contains "blogs" %} {{ content_for_header | replace: "load', asyncLoad",MyJsFunc | replace: 'if(window.attachEvent)', MyJsFunc2 | replace: 'defer="defer" src="//', 'defer="defer" data-src="//' | replace: 'DOMContentLoaded', 'StartPreviewBarLoading' | replace: "addEventListener('load', prefetchAssets);", MyJsFunc3 | replace: 'src="/checkouts/internal/preloads.js', 'data-src="/checkouts/internal/preloads.js' | replace: 'src="https://shop.app/checkouts', 'data-src="https://shop.app/checkouts' }} {% else %} {%- if tinyscript -%}{{ content_for_header }}{%- else -%}{% render 'tiny-script-control' %}{%- endif -%} {% endif %}
 

    {% render 'theme-data' %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
{% render 'store-credit-launcher' %}









{% include 'store-credit-launcher' %}
</head>
  <body
    id="m-theme"
    class="template-{{ template.name | append: ' ' | append: template.suffix }}{% if settings.page_transition %} m:overflow-hidden{% endif %}"
    {% if template.name == 'product' %}
      data-product-id="{{ product.id }}"
    {% endif %}
  >
   
    {% if settings.page_transition %}
      <div class="m-page-transition">
        <div class="m-page-transition__spinner">
          <div class="m-page-transition__spinner-content">
            <div></div>
          </div>
        </div>
      </div>
    {% endif %}
    {%- liquid
      render 'scroll-top-button'
echo "<div style='display:none'>"       sections 'header-group' echo "</div>"

      assign enable_aside_group = false
      if template == 'index' and settings.enable_aside_section_group == true
        assign enable_aside_group = true
      endif
    -%}
    <main role="main" id="MainContent" class="m-main-content">
      {% if enable_aside_group %}
      <div class="m-main-content__container m-page-width">
        <div class="m-aside-section-group m:hidden xl:m:block">{% sections 'aside-group' %}</div>
      {% endif %}
        <div class="m-content-for-layout">{{ content_for_layout }}</div>
      {% if enable_aside_group %}
      </div>
      {% endif %}
    </main>

    {%- sections 'footer-group' -%}

    {% render 'script-tags' %}
    {% render 'cookie-banner' %}
    {% render 'custom-code-body' %}

    <script src="{{ 'product-quick-view.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wishlist.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'compare-product.js' | asset_url }}" defer="defer"></script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if linklists['gift-wrapping'].links != blank
      and linklists['gift-wrapping'].links.first.type == 'product_link'
    -%}
      <script src="{{ 'gift-wrapping.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.show_swatch_option -%}
      <script src="{{ 'product-card-swatch.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.enable_cart_drawer and template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    
    
    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.loadMode = 1;
        window.lazySizesConfig.expand = 100;
        window.lazySizesConfig.loadHidden = false;
    </script>
  
    <script defer src="{{ 'lazysizes.min.js' | asset_url }}" ></script>
        <script src="//cdn.shopify.com/s/files/1/0387/0359/5652/files/theme.js?v=1692867713" type="text/javascript"></script>



    


{% render 'freegifts-snippet' %}


{% include 'store-credit-launcher' %}
</body>
</html>