{{ 'section-countdown-timer.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_height = section.settings.section_height

  case section_height
    when 'small'
      assign height = '40vh'
    when 'large'
      assign height = '62vh'
    when 'medium'
      assign height = '50vh'
  endcase

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif
  assign heading_size = section.settings.heading_size

  assign end_time_color = 'm:text-color-' | append: section.settings.text_color

  assign text_align = ''
  if section.settings.align == 'start'
    assign text_align = 'left'
  elsif section.settings.align == 'end'
    assign text_align = 'right'
  else 
    assign text_align = 'center'
  endif
%}

{% style %}
  {% if section.settings.mb_image != blank %}
    @media(min-width: 640px) {
      .m-countdown-section--{{ section.id }} {
        {% if section.settings.background_image != blank %}
        --bg-img: url({{ section.settings.background_image | image_url: width: 1920 }});
        {% endif %}
        --section-height: {{ height }};
        background-image: var(--bg-img);
      }
    }
  {% else %}
    .m-countdown-section--{{ section.id }} {
      {% if section.settings.background_image != blank %}
      --bg-img: url({{ section.settings.background_image | image_url: width: 1920 }});
      {% endif %}
      --section-height: {{ height }};
      background-image: var(--bg-img);
    }
  {% endif %}
{% endstyle %}

<section
  id="m-countdown-{{ section.id }}"
  data-section-type="countdown-timer"
  data-section-id="{{ section.id }}"
  class="m-section m-countdown-section {{ section.settings.custom_class }} m-countdown-section--{{ section.id }} m-section--padding m-color-{{ section.settings.color_scheme }} m-gradient"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="m-page-width">
    <div class="m-section__wrapper">
      <div class="m-section__content">
        {% if section.settings.mb_image != blank %}
          <div class="m-countdown-section__mb-image m:block sm:m:hidden{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
            {% render 'responsive-image', image: section.settings.mb_image, image_rounded: false, section_index: section.index %}
          </div>
        {% endif %}
        <div class="m-countdown m-countdown-section__inner{% if section.settings.mb_image != blank %} m-countdown-section__inner--mb-image{% endif %}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %} m:flex m:items-center m:justify-center md:m:justify-{{ section.settings.align }}">
          <div class="m-countdown__inner m:text-center md:m:text-{{ text_align }}">
            {% if section.settings.heading != blank %}
              <h3 class="m-countdown__heading {{ heading_size }}">{{ section.settings.heading }}</h3>
            {% endif %}
            {% render 'countdown-timer', time: section.settings.time, extra_classes: end_time_color %}
            {% if section.settings.button_label != blank %}
              <div class="m-countdown__button">
                {% capture arrow  %}<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 2.25L8.25 6L4.5 9.75" stroke="CurrentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>{% endcapture %}
                {% capture triangle %}<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.51531 5.73474L4.76531 1.98474C4.71287 1.93223 4.64602 1.89647 4.57324 1.88198C4.50046 1.86748 4.42501 1.87491 4.35645 1.90332C4.28789 1.93172 4.22931 1.97984 4.1881 2.04156C4.1469 2.10328 4.12494 2.17584 4.125 2.25005V9.75005C4.12494 9.82426 4.1469 9.89682 4.1881 9.95855C4.22931 10.0203 4.28789 10.0684 4.35645 10.0968C4.42501 10.1252 4.50046 10.1326 4.57324 10.1181C4.64602 10.1036 4.71287 10.0679 4.76531 10.0154L8.51531 6.26536C8.55018 6.23054 8.57784 6.18918 8.59671 6.14365C8.61558 6.09813 8.62529 6.04933 8.62529 6.00005C8.62529 5.95077 8.61558 5.90197 8.59671 5.85645C8.57784 5.81092 8.55018 5.76957 8.51531 5.73474Z" fill="currentColor"/></svg>{% endcapture %}
                {% liquid 
                  assign is_button_icon = false
                  if section.settings.button_label contains '[arrow]' or section.settings.button_label contains '[triangle]'
                    assign is_button_icon = true
                  endif
                %}
                <a
                  href="{{ section.settings.button_link | default: '#' }}"
                  class="m-button {{ section.settings.button_style }}{% if is_button_icon %} m-button--with-icon{% endif %}"
                >
                  {{- section.settings.button_label | replace: '[arrow]', arrow | replace: '[triangle]', triangle -}}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Countdown timer",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Image on mobile"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Hurry up! Sale end in"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ],
      "default": "h2"
    },
    {
      "type": "text",
      "id": "time",
      "label": "End time",
      "default": "2023/12/26 23:00:00",
      "info": "Date format: YYYY/MM/DD HH:MM or YYYY/MM/DD HH:MM AA"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "End time color",
      "options": [
        {
          "value": "body",
          "label": "Body text"
        },
        {
          "value": "subtext",
          "label": "Subtext"
        }
      ],
      "default": "body"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop now",
      "info": "Leave blank to hide button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "m-button--primary",
          "label": "Primary"
        },
        {
          "value": "m-button--secondary",
          "label": "Secondary"
        },
        {
          "value": "m-button--outline",
          "label": "Outline"
        },
        {
          "value": "m-button--link",
          "label": "Underline"
        },
        {
          "value": "m-button--blank",
          "label": "Plain"
        }
      ],
      "default": "m-button--primary"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Countdown timer",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
