{%- capture page_title -%}
  {{ 'customer.login.title' | t }}
{%- endcapture -%}
{%- capture page_header_style -%}
--section-padding-top: {{ section.settings.page_header_padding_top }}px;
--section-padding-bottom: {{ section.settings.page_header_padding_bottom }}px;
{%- endcapture -%}
{% render 'page-title', title: page_title, size: 'large', custom_style: page_header_style %}

{% liquid 
  assign boxed_layout = settings.enable_boxed_layout
  assign boxed_color_scheme = settings.boxed_color_scheme
%}

{% style %}
.custom-reset-password {
  display: flex;
  gap: 6px;
  margin: 12px 0px;
}
.m-customer-forms .m-reset-password-btn {
  margin: 0px;
  color: #29B9CE;
}
#register-text {
  color: #29B9CE;
}
.custom-account-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .custom-account-icons {
    grid-template-columns: 1fr;
  }
}
.custom-account-icons p,
.m-sign-up p {
  margin: 0px !important;
  padding: 0px !important;
}

.icon-grid {
    display: flex;
    align-items: center;
    gap: 6px;
}
.custom-register-text {
  margin-bottom: 20px;
}
{% endstyle %}

<div 
  class="m-section m-section--padding{% if boxed_layout %} m-section--boxed{% endif %} m-customer-forms"
  style="
  --section-padding-top: {{ section.settings.padding_top }}px;
  --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="m-page-width"> 
    <div class="m-section__wrapper m-section__content md:m:flex{% if boxed_layout %} m-gradient m-color-{{ boxed_color_scheme }}{% endif %}">
      <div id="recover" class="m-recover-form">
        <h3 class="h2">{{ 'customer.recover_password.title' | t }}</h3>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        <div data-recover-form>
          {% form 'recover_customer_password' %}
            {% if form.posted_successfully? %}
              <div class="notification show success m-customer__recover-form-posted">
                {{ 'customer.recover_password.success' | t }}
              </div>
            {% endif %}
            {% render 'form__error', form: form %}

            <input
              class="form-field form-field--input"
              type="email"
              name="email"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
            >

            <div class="m-recover-form__action">
              <button type="submit" class="m-button m-button--primary">
                {{ 'customer.recover_password.submit' | t }}
              </button>
              <a href="#login" class="m-recover-form__cancel-btn m-button m-button--secondary">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>
      </div>
      <div id="login" class="m-login-form">
        <h3 class="h2">Login</h3>
        {% form 'customer_login' %}
          {% render 'form__error', form: form %}
          <input
            type="email"
            name="customer[email]"
            placeholder="{{ 'customer.login.email' | t }}"
            class="form-field form-field--input"
          >
          <input
            type="password"
            name="customer[password]"
            placeholder="{{ 'customer.login.password' | t }}"
            class="form-field form-field--input"
          >

          <div class="custom-reset-password"><p>Forgot your password?</p> <a href="#recover" class="m-reset-password-btn">Reset password</a></div>
          <button class="m-button m-button--primary" type="submit">
            SIGN IN
          </button>
        {% endform %}
      </div>
      <div class="m-sign-up">
        <h3 class="h2">New to <span id="register-text">Ecigone?</span></h3>
        <div class="custom-register-text">
          <p><strong>{{ section.settings.title }}</strong></p>
        </div>
        <div class="custom-account-icons">
          <div class="icon-grid">
            {% render 'custom-past-order' %}
            <p>{{ section.settings.benefit_1 }}</p>
          </div>
          <div class="icon-grid">
            {% render 'custom-earn-cashback' %}
            <p>{{ section.settings.benefit_2 }}</p>
          </div>
          <div class="icon-grid">
            {% render 'custom-checkout-faster' %}
            <p>{{ section.settings.benefit_3 }}</p>
          </div>
          <div class="icon-grid">
            {% render 'custom-reward' %}
            <p>{{ section.settings.benefit_4 }}</p>
          </div>
        </div>
        <a class="m-button m-button--outline" href="{{ routes.account_register_url }}">
          CREATE ACCOUNT
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer login",
  "settings": [
    {
      "type": "header",
      "content": "Benefits"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Creating an account has benefits"
    },
    {
      "type": "text",
      "id": "benefit_1",
      "label": "Benefit 1",
      "default": "Benefit"
    },
    {
      "type": "text",
      "id": "benefit_2",
      "label": "Benefit 2",
      "default": "Benefit"
    },
    {
      "type": "text",
      "id": "benefit_3",
      "label": "Benefit 3",
      "default": "Benefit"
    },
    {
      "type": "text",
      "id": "benefit_4",
      "label": "Benefit 4",
      "default": "Benefit"
    },
    {
      "type": "header",
      "content": "Page header padding"
    },
    {
      "type": "range",
      "id": "page_header_padding_top",
      "label": "Padding top",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "page_header_padding_bottom",
      "label": "Padding bottom",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ]
}
{% endschema %}