{%- capture page_title -%}
  {{ 'customer.reset_password.title' | t }}
{%- endcapture -%}
{%- capture page_header_style -%}
--section-padding-top: {{ section.settings.page_header_padding_top }}px;
--section-padding-bottom: {{ section.settings.page_header_padding_bottom }}px;
{%- endcapture -%}
{% render 'page-title', title: page_title, custom_style: page_header_style %}

{% liquid 
  assign boxed_layout = settings.enable_boxed_layout
  assign boxed_color_scheme = settings.boxed_color_scheme
%}

<div 
  class="m-section m-section--padding{% if boxed_layout %} m-section--boxed{% endif %} m-reset-password-form"
  style="
  --section-padding-top: {{ section.settings.padding_top }}px;
  --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="m-reset-password-form__wrapper">
    <div class="m-section__wrapper m-section__content{% if boxed_layout %} m-gradient m-color-{{ boxed_color_scheme }}{% endif %}">
      <h1 class="h4">{{ 'customer.reset_password.title' | t }}</h1>
      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% form 'reset_customer_password' %}
      {% render 'form__error', form: form %}

      <input type="password" name="customer[password]" id="ResetPassword"
          class="form-field form-field--input {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

      <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation"
          class="form-field form-field--input {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

      <button type="submit" class="m-button m-button--primary">
          {{ 'customer.reset_password.submit' | t }}
      </button>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer reset password",
  "settings": [
    {
      "type": "header",
      "content": "Page header padding"
    },
    {
      "type": "range",
      "id": "page_header_padding_top",
      "label": "Padding top",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "page_header_padding_bottom",
      "label": "Padding bottom",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ]
}
{% endschema %}