{{ 'section-instagram.css' | asset_url | stylesheet_tag }}
{% liquid
  assign columns = section.settings.grid_columns
  assign color_scheme = section.settings.color_scheme
  assign heading_size = section.settings.text_size
  assign desc_color = section.settings.text_color
  assign images_count = section.settings.images_count

  if section.settings.layout == 'metro'
    if columns >= 8
      assign columns = 8
    else
      assign columns = 6
    endif
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
  endif
%}

{%- style -%}
  .m-instagram-section--{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --column-gap: {{ section.settings.gap }}px; 
    --column-gap-mobile: {{ section.settings.mobile_gap }}px;
  }
{%- endstyle -%}

<section
  id="m-instagram-section-{{ section.id }}"
  class="m-section m-instagram-section m-instagram-section--layout-{{ section.settings.layout }} {{ section.settings.custom_class }} m-instagram-section--{{ section.id }} m-section--padding m-color-{{ color_scheme }} m-gradient{% if section.settings.boxed_layout %} m-section--boxed{% endif %}{% if section.settings.header_divider %} m-section--header-separated{% endif %}"
  data-section-type="instagram"
  data-section-id="{{ section.id }}"
  data-layout="{{ section.settings.layout }}"
>
  <div class="{% if section.settings.section_layout == 'grid' %}m-page-width{% else %}m:w-full{% endif %}">
    <div class="m-section__wrapper{% if section.settings.boxed_layout %} m-gradient m-color-{{ section.settings.boxed_color_scheme }}{% endif %}">
      <div class="m-section__header m:text-{{ section.settings.header_alignment }}{% if section.settings.layout == 'metro' %} lg:m:hidden{% endif %}">
        {% if section.settings.subheading != blank %}
          <h5 class="m-section__subheading{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.subheading }}</h5>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h2 class="m-section__heading {{ heading_size }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="m-section__description m:text-color-{{ desc_color }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.description }}</div>
        {% endif %}
        {% if section.settings.profile != blank and section.settings.button_label != blank %}
          <div class="m-section__button{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
            <a href="{{ section.settings.profile }}" target="_blank" class="m-button m-button--secondary m:uppercase">{{ section.settings.button_label }}</a>
          </div>
        {% endif %}
      </div>

      <m-instagram class="m-instagram m-section__content" data-access-token="{{ settings.instagram_token }}" data-images-count="{{ section.settings.images_count }}">
        <div class="m-mixed-layout m-mixed-layout--mobile-scroll">
          <div class="m-instagram__wrapper m-mixed-layout__inner m:grid md:m:grid-{{ columns | minus: 2 }}-cols xl:m:grid-{{ columns }}-cols">
            {% if settings.instagram_token == blank %}
              {% for i in (1..columns) %}
                <div class="m:column">
                  <div class="m-image m-image--placeholder m-image--rounded">
                    {{ 'image' | placeholder_svg_tag: 'm-placeholder-svg' }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% if section.settings.layout == 'metro' %}
              {% liquid
                assign row_end = 3
                if images_count > 12 and columns == 8
                  assign row_end = 4
                endif

                if images_count > 8 and columns == 6
                  assign row_end = 4
                endif
              %}    

              <div class="m-section__header m:text-center m:hidden lg:m:flex m:row-end-{{ row_end }} m:col-{{ columns | divided_by: 2 }}-{{ columns | divided_by: 2 | plus: 2 }}">
                {% if section.settings.subheading != blank %}
                  <h5 class="m-section__subheading{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.subheading }}</h5>
                {% endif %}
                {% if section.settings.heading != blank %}
                  <h2 class="m-section__heading {{ heading_size }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.description != blank %}
                  <div class="m-section__description m:text-color-{{ desc_color }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.description }}</div>
                {% endif %}
                {% if section.settings.profile != blank and section.settings.button_label != blank %}
                  <div class="m-section__button{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
                    <a href="{{ section.settings.profile }}" target="_blank" class="m-button m-button--secondary m:uppercase">{{ section.settings.button_label }}</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </m-instagram>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagram",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Go to: \"Theme settings > Integration\" to update Instagram token"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Container type",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "grid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Enable boxed layout",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "boxed_color_scheme",
      "default": "scheme_1",
      "label": "Boxed color Scheme"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "checkbox",
      "id": "header_divider",
      "label": "Show header divider",
      "default": false
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "On the Gram"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Description style",
      "options": [
        {
          "value": "body",
          "label": "Body text"
        },
        {
          "value": "subtext",
          "label": "Subtext"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "metro",
          "label": "Metro"
        }
      ]
    },
    {
      "type": "range",
      "min": 4,
      "max": 24,
      "step": 1,
      "id": "images_count",
      "label": "Images to show",
      "default": 4
    },
    {
      "type": "header",
      "content": "Grid settings"
    },
    {
      "type": "range",
      "id": "grid_columns",
      "label": "Images per row",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Image gap",
      "min": 0,
      "max": 50,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_gap",
      "label": "Image gap on mobile",
      "min": 0,
      "max": 30,
      "step": 2,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Follow button"
    },
    {
      "type": "text",
      "id": "profile",
      "label": "Profile URL",
      "default": "https://www.instagram.com/minimog.trendy/"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    }
  ],
  "presets": [
    {
      "name": "Instagram",
      "category": "Image"
    }
  ]
}
{% endschema %}
