{{ 'section-lookbook.css' | asset_url | stylesheet_tag }}

{% liquid
  assign item_blocks = section.blocks | where: 'type', 'item'
  assign color_scheme = section.settings.color_scheme
  assign header_divider = section.settings.header_divider
  assign boxed_layout = section.settings.boxed_layout
  assign item_gap_desktop = section.settings.gap_desktop
  assign item_gap_mobile = section.settings.gap_mobile

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

%}

<section
  class="m-section m-lookbook {{ section.settings.custom_class }} m-section--padding m-color-{{ color_scheme }} m-gradient{% if boxed_layout %} m-section--boxed{% endif %}{% if header_divider %} m-section--header-separated{% endif %}"
  data-section-type="lookbook"
  data-section-id="{{ section.id }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;--column-gap: {{ item_gap_desktop }}px; --column-gap-mobile: {{ item_gap_mobile }}px;--row-gap: {{ item_gap_desktop }}px; --row-gap-mobile: {{ item_gap_mobile }}px;"
>
  <div class="m-page-width">
    <div class="m-section__wrapper{% if boxed_layout %} m-color-{{ section.settings.boxed_color_scheme }} m-gradient{% endif %}">
      {% render 'index-section-header', section_settings: section.settings %}
      {% if section.blocks.size > 0 %}
        <div class="m-section__content">
          <div class="m:grid m:grid-1-cols md:m:grid-2-cols lg:m:grid-{{ item_blocks.size }}-cols">
            {% for block in section.blocks %}
              {% if block.type == 'lookbook-slider' %}
                <div class="m:column m-lookbook__col-full m-color-{{ block.settings.color_scheme }} m-gradient">
                  {% render 'lookbook-card-slider',
                    block: block,
                    image_aspect_ratio: section.settings.image_aspect_ratio,
                    index: forloop.index,
                    animated: animated,
                    animation_effect: animation_effect
                  %}
                </div>
              {% else %}
                <div class="m:column">
                  {% render 'lookbook-card',
                    block: block,
                    image_aspect_ratio: section.settings.image_aspect_ratio,
                    index: forloop.index,
                    animated: animated,
                    animation_effect: animation_effect,
                    card_color_scheme: block.settings.lookbook_item_color
                  %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Lookbook",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {	
      "type": "color_scheme",	
      "id": "color_scheme",	
      "default": "scheme_1",	
      "label": "Color scheme"	
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image aspect ratio",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "Adapt to image"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {	
      "type": "header",	
      "content": "Layout"	
    },	
    {	
      "type": "color_scheme",	
      "id": "boxed_color_scheme",	
      "default": "scheme_1",	
      "label": "Boxed color Scheme"	
    },	
    {	
      "type": "checkbox",	
      "id": "boxed_layout",	
      "label": "Enable boxed layout",	
      "default": false	
    },	
    {	
      "type": "header",	
      "content": "Section header"	
    },	
    {	
      "type": "checkbox",	
      "id": "header_divider",	
      "label": "Show header divider",	
      "default": false	
    },	
    {	
      "type": "textarea",	
      "id": "heading",	
      "label": "Heading",	
      "default": "Hand-picked"	
    },	
    {	
      "type": "select",	
      "id": "heading_size",	
      "label": "Heading size",	
      "options": [	
        {	
          "value": "h2",	
          "label": "H2"	
        },	
        {	
          "value": "h3",	
          "label": "H3"	
        },	
        {	
          "value": "h4",	
          "label": "H4"	
        },	
        {	
          "value": "h5",	
          "label": "H5"	
        }	
      ],	
      "default": "h2"	
    },	
    {	
      "type": "inline_richtext",
      "id": "subheading",	
      "label": "Subheading"	
    },	
    {	
      "type": "richtext",	
      "id": "description",	
      "label": "Description"	
    },	
    {	
      "type": "select",	
      "id": "text_color",	
      "label": "Description style",	
      "options": [	
        {	
          "value": "body",	
          "label": "Body text"	
        },	
        {	
          "value": "subtext",	
          "label": "Subtext"	
        }	
      ],	
      "default": "body"	
    },	
    {	
      "type": "select",	
      "id": "header_alignment",	
      "label": "Text alignment",	
      "default": "center",	
      "options": [	
        {	
          "value": "left",	
          "label": "Left"	
        },	
        {	
          "value": "center",	
          "label": "Center"	
        }	
      ]	
    },
    {
      "type": "select",
      "id": "header_mobile_alignment",
      "label": "Mobile text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {	
      "type": "header",	
      "content": "Grid settings"	
    },	
    {	
      "type": "range",	
      "id": "gap_desktop",	
      "label": "Desktop item gap",	
      "default": 30,	
      "min": 0,	
      "max": 50,	
      "step": 1,	
      "unit": "px"	
    },	
    {	
      "type": "range",	
      "id": "gap_mobile",	
      "label": "Mobile item gap ",	
      "default": 15,	
      "min": 0,	
      "max": 50,	
      "step": 1,	
      "unit": "px"	
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "lookbook_item_color",
          "default": "scheme_1",
          "label": "Color scheme",
          "info": "Set color for item hovered"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Title",
          "default": "Shop this collection"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Title link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "dark",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        }
      ]
    },
    {
      "type": "lookbook-slider",
      "name": "Lookbook slider",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "scheme_1",
          "label": "Color scheme"
        },
        {
          "type": "header",
          "content": "Heading settings"
        },
        {
          "type": "inline_richtext",
          "id": "sub_title",
          "label": "Subheading"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Shop this look"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Description style",
          "options": [
            {
              "value": "body",
              "label": "Body text"
            },
            {
              "value": "subtext",
              "label": "Subtext"
            }
          ],
          "default": "body"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "dark",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Slider settings"
        },
        {
          "type": "select",
          "id": "product_per_view",
          "label": "Columns",
          "default": "2",
          "options": [
            {
              "value": "2",
              "label": "2 Columns"
            },
            {
              "value": "1",
              "label": "1 Column"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_pagination",
          "label": "Show pagination",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_navigation",
          "label": "Show navigation",
          "default": true
        },
        {
          "type": "header",
          "content": "Product card settings"
        },
        {
          "type": "select",
          "id": "pcard_layout",
          "label": "Design layout",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "1",
              "label": "Style 1"
            },
            {
              "value": "2",
              "label": "Style 2"
            },
            {
              "value": "3",
              "label": "Style 3"
            }
          ]
        },
        {
          "type": "select",
          "id": "pcard_image_ratio",
          "label": "Image aspect ratio",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "original",
              "label": "Original aspect ratio"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendors",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "category": "Lookbook",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
