{{ 'section-newsletter.css' | asset_url | stylesheet_tag }}

{% liquid
  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign boxed_layout = section.settings.boxed_layout
  assign heading = section.settings.heading
  assign form_width = section.settings.form_width | default: '530px'
%}
<section
  id="m-newsletter-{{ section.id }}"
  class="m-section m-section--padding {% if boxed_layout %} m-section--boxed{% endif %}{% if section.settings.header_divider %} m-section--header-separated{% endif %} m-newsletter-section m-gradient m-color-{{ section.settings.color_scheme }} {{ section.settings.custom_class }}"
  style="
  --section-padding-top: {{ section.settings.padding_top }}px; 
  --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="m-page-width">
    <div class="m-section__wrapper{% if boxed_layout %} m-gradient m-color-{{ section.settings.boxed_color_scheme }}{% endif %}">
      {% if heading != blank %}
        <div class="m-section__header m:text-{{ section.settings.header_alignment }}">
          <h2 class="m-section__heading {{ section.settings.heading_size }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.heading }}</h2>
        </div>
      {% endif %}
      <div class="m-section__content m:display-flex m:justify-{{ section.settings.form_alignment | replace: 'left', 'start' }} m:text-{{ section.settings.form_alignment }}" style="--form-width: {{ form_width }}">
        {% render 'newsletter-form',
          custom_id: section.id,
          show_agreement: section.settings.show_agreement,
          agree_text: settings.agree_text,
          placeholder: section.settings.email_placeholder,
          animation_effect: animation_effect
          animated: animated
        %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "disabled_on": {
    "groups": [
      "header",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Enable boxed layout",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "boxed_color_scheme",
      "default": "scheme_1",
      "label": "Color scheme",
      "info": "Only works if Boxed layout is enabled."
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by collections"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "header_divider",
      "label": "Show header divider",
      "default": false
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email placeholder text",
      "default": "Enter your email"
    },
    {
      "type": "checkbox",
      "id": "show_agreement",
      "label": "Show \"Terms & conditions\" checkbox",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
    },
    {
      "type": "text",
      "id": "form_width",
      "label": "Form width",
      "info": "Example: 600px,100%"
    },
    {
      "type": "select",
      "id": "form_alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
