{{ 'password.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .m-password-page {
    {%- if section.settings.image != blank -%}
    background-image: url({{ section.settings.image | image_url: width: 2048 }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    {%- endif -%}
  }
{%- endstyle -%}
<div class="m-password-page m-bg-lazy m-gradient m-color-{{ section.settings.color_scheme }}">
  {% if settings.logo != blank %}
    <div class="m-password-page__logo">
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
      {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
      {{
        settings.logo
        | image_url: width: 600
        | image_tag:
          class: 'header__heading-logo',
          widths: widths,
          height: logo_height,
          width: settings.logo_width,
          alt: logo_alt,
          sizes: sizes,
          preload: true
      }}
    </div>
  {% else %}
    <div class="m-password-page__logo">
      <span class="h5">{{ shop.name }}</span>
    </div>
  {% endif %}
  {% if section.settings.heading != blank %}
    <h1 class="m-password-page__heading {{ section.settings.heading_size }} m:font-medium">{{ section.settings.heading }}</h1>
  {% endif %}
  {% if section.settings.description != blank %}
    <div class="m-password-page__description">{{ section.settings.description }}</div>
  {% endif %}
  {% if section.settings.enabled_newsletter %}
    {% if section.settings.newsletter_heading != blank %}
      <h2 class="m-password-page__form-heading h5">{{ section.settings.newsletter_heading }}</h2>
    {% endif %}
    {%- form 'customer', class: 'm-password-page__form m-newsletter-form m:w-full md:m:w-1/2 lg:m:w-4/12' -%}
      <div class="m-password-page__form-wrapper">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <span>{%- render 'icon', name: 'envelope-regular', size: 'small' -%}</span>
        <input
          type="email"
          name="contact[email]"
          class="form-field form-field--input form-field form-field--icon"
          value=""
          placeholder="{{ section.settings.newsletter_form_text }}"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        >
        <button type="submit" name="commit" aria-label="Submit">
          {%- render 'icon', name: 'arrow-right-regular', size: 'small' -%}
        </button>
      </div>
      {%- capture success_message -%}
        {{ 'contact.form.post_success' | t }}
      {%- endcapture -%}
      {% render 'form__success', form: form, success_message: success_message %}
      {% render 'form__error', form: form %}
    {%- endform -%}
  {% endif %}
  {% if section.settings.enable_password %}
    {% if section.settings.password_heading != blank %}
      <h2 class="m-password-page__form-heading h5">{{ section.settings.password_heading }}</h2>
    {% endif %}
    {% form 'storefront_password', class: 'm-password-page__form m-password-form m:w-full md:m:w-1/2 lg:m:w-4/12' %}
      <div class="m-password-page__form-wrapper">
        <span>{%- render 'icon', name: 'lock-regular', size: 'small' -%}</span>
        <input
          type="password"
          name="password"
          class="form-field form-field--input form-field form-field--icon"
          id="inputPassword2"
          placeholder="{{ section.settings.password_form_text }}"
        >
        <button type="submit" name="commit" aria-label="Submit">
          {%- render 'icon', name: 'arrow-right-regular', size: 'small' -%}
        </button>
      </div>
      {{ form.errors | default_errors }}
    {% endform %}
  {% endif %}
  {% if section.settings.footer_copyright != blank %}
    <div class="m-copyright">
      <p>{{ section.settings.footer_copyright }}</p>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Main Password",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Texts"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading",
      "default": "Website is coming soon"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ]
    },
    {
      "type": "html",
      "id": "description",
      "label": "Description",
      "default": "This is a message for your visitors, you edit this in your admin."
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "enabled_newsletter",
      "label": "Enable newsletter",
      "default": true
    },
    {
      "type": "textarea",
      "id": "newsletter_heading",
      "label": "Heading",
      "default": "Subscribe to our newsletter"
    },
    {
      "type": "textarea",
      "id": "newsletter_form_text",
      "label": "Form Text",
      "default": "Enter your e-mail"
    },
    {
      "type": "header",
      "content": "Password"
    },
    {
      "type": "checkbox",
      "id": "enable_password",
      "label": "Enable password",
      "default": true
    },
    {
      "type": "textarea",
      "id": "password_heading",
      "label": "Heading",
      "default": "Enter the password to get access to the site"
    },
    {
      "type": "textarea",
      "id": "password_form_text",
      "label": "Form Text",
      "default": "Enter Password"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "textarea",
      "id": "footer_copyright",
      "label": "Copyright",
      "default": "&copy; Minimog Mega Store 2023. All Rights Reserved"
    }
  ]
}
{% endschema %}
