{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign product_id = product.id
  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign remove_params = section.settings.remove_params

  assign items_per_row = section.settings.items_per_row
  assign product_to_show = section.settings.product_to_show | default: 8
  assign enable_slider = section.settings.enable_slider

  assign mobile_layout = section.settings.mobile_layout
  if enable_slider and mobile_layout == 'inherit'
    assign mobile_layout = 'slider'
  endif

  assign show_pagination = section.settings.show_pagination
  assign show_navigation = section.settings.show_navigation
  assign navigation_position = section.settings.navigation_position
  assign pagination_type = 'fraction'

  assign enable_swipe_mobile = section.settings.enable_swipe_mobile

  assign card_style = section.settings.pcard_layout
  assign image_ratio = section.settings.pcard_image_ratio
  assign show_vendor = section.settings.show_vendor

  if card_style == nil or card_style == blank
    assign card_style = settings.pcard_layout
  endif

  assign card_bordered = false
  if section.settings.boxed_layout and section.settings.grid_bordered
    assign card_bordered = true
  endif

  assign tablet_items = items_per_row | at_most: 3
  assign laptop_items = items_per_row | at_most: 4
  
  assign default_heading = 'products.product.product_recommendation_heading' | t
-%}
<div
  class="m-section m-section--padding{% if section.settings.boxed_layout %} m-section--boxed{% if section.settings.grid_bordered %} m-section--grid-bordered{% endif %}{% endif %}{% if section.settings.header_divider %} m-section--header-separated{% endif %} m-product-recommendations m-gradient m-color-{{ section.settings.color_scheme }} {{ section.settings.custom_class }}"
  style="
    --column-gap: {{ section.settings.column_gap }}px; 
    --column-gap-mobile: {{ section.settings.column_gap_mobile }}px; 
    --row-gap: {{ section.settings.row_gap }}px; 
    --row-gap-mobile: {{ section.settings.row_gap_mobile }}px; 
    --items: {{ items_per_row }};
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  "
  data-product-card-style="{{ card_style }}" 
>
  <div class="m-page-width" data-enable-slider="{{ enable_slider }}">
    <div class="m-section__wrapper{% if section.settings.boxed_layout %} m-gradient m-color-{{ section.settings.boxed_color_scheme }}{% endif %}">
      <div class="m-section__header m:text-{{ section.settings.header_alignment }}">
        <h2 class="m-section__heading {{ section.settings.heading_size }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section.settings.heading | default: default_heading }}</h2>
      </div>
      <product-recommendations
        data-enable-slider="{{ enable_slider }}"
        {% if enable_slider %}
          data-items="{{ items_per_row }}"
          data-laptop-items="{{ laptop_items }}"
          data-tablet-items="{{ tablet_items }}"
          data-mobile-items="2"
          data-show-pagination="{{ show_pagination }}"
          data-show-navigation="{{ show_navigation }}"
          data-pagination-type="{{ pagination_type }}"
          data-mobile-layout="{{ mobile_layout }}"
        {% endif %}
        data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit={{ product_to_show | default: 4 }}"
        class="m-section__content m:block"
      >
        {% if recommendations.performed and recommendations.products_count > 0 %}
            <div class="m-product-recommendations__wrapper m-mixed-layout{% if mobile_layout != 'slider' %} m-mixed-layout--mobile-grid{% if enable_swipe_mobile %} m-mixed-layout--mobile-scroll{% endif %}{% endif %}">
              <div class="m-mixed-layout__wrapper{% if enable_slider %} swiper swiper--equal-height{% endif %}">
                <div 
                  class="m-mixed-layout__inner m:grid md:m:grid-{{ tablet_items }}-cols lg:m:grid-{{ laptop_items }}-cols xl:m:grid-{{ items_per_row }}-cols{% if enable_slider %} swiper-wrapper{% endif %}"
                  {% if section.settings.mobile_layout != 'inherit' %}
                    style="
                    --grid-columns-mobile: {{ section.settings.mobile_layout | replace: 'col-1', '1' | replace: 'col-2', '2' }};
                    --mobile-column-width: {{ section.settings.mobile_layout | replace: 'col-1', '66.66vw' | replace: 'col-2', '40vw' }};
                    "
                  {% endif %}
                >
                  {% for product in recommendations.products %}
                    <div class="m:column swiper-slide">
                      {% liquid
                        case card_style
                          when '1'
                            render 'product-card-1', product: product, image_ratio: image_ratio, card_bordered: card_bordered, show_vendor: show_vendor, index: forloop.index, animated: animated, animation_effect: animation_effect, remove_params: remove_params 
                          when '2'
                            render 'product-card-2', product: product, image_ratio: image_ratio, card_bordered: card_bordered, show_vendor: show_vendor, index: forloop.index, animated: animated, animation_effect: animation_effect, remove_params: remove_params
                          when '3'
                            render 'product-card-3', product: product, image_ratio: image_ratio, card_bordered: card_bordered, show_vendor: show_vendor, index: forloop.index, animated: animated, animation_effect: animation_effect, remove_params: remove_params
                        endcase
                      %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              {% if enable_slider and show_pagination or show_navigation %}
                {% render 'slider-controls',
                  container: 'm-page-width',
                  show_nav: show_navigation, 
                  show_pagination: show_pagination,
                  navigation_position: navigation_position, 
                  pagination_type: pagination_type,
                  extra_classes: 'm:hidden',
                  nav_class: 'm:opacity-0'
                %}
              {% endif %}
            </div>
        {% endif %}
      </product-recommendations>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product recommendations",
  "limit": 1,
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "remove_params",
      "label": "Remove URL params",
      "default": false,
      "info": "Remove param tracking in product URL"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Enable boxed layout",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "grid_bordered",
      "label": "Grid bordered",
      "default": false,
      "info": "Only works if Boxed layout is enabled."
    },
    {
      "type": "color_scheme",
      "id": "boxed_color_scheme",
      "default": "scheme_1",
      "label": "Color scheme",
      "info": "Only works if Boxed layout is enabled."
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "You Might Also Like"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "header_divider",
      "label": "Show header divider",
      "default": false
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Alignment",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
      "type": "select",
      "id": "pcard_layout",
      "label": "Design layout",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Use global settings"
        },
        {
          "value": "1",
          "label": "Style 1"
        },
        {
          "value": "2",
          "label": "Style 2"
        },
        {
          "value": "3",
          "label": "Style 3"
        }
      ]
    },
    {
      "type": "select",
      "id": "pcard_image_ratio",
      "label": "Image aspect ratio",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Use global settings"
        },
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "header",
      "content": "Grid settings"
    },
    {
      "type": "range",
      "id": "product_to_show",
      "label": "Products to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "Column gap",
      "min": 0,
      "max": 50,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "row_gap",
      "label": "Row gap",
      "min": 0,
      "max": 50,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slider",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation",
      "default": false
    },
    {
      "type": "select",
      "id": "navigation_position",
      "label": "Navigation position",
      "default": "inside",
      "options": [
        {
          "label": "Inside container",
          "value": "inside"
        },
        {
          "label": "Outside container",
          "value": "outside"
        },
        {
          "label": "Inline",
          "value": "inline"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "Mobile layout",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit"
        },
        {
          "value": "col-1",
          "label": "1 column"
        },
        {
          "value": "col-2",
          "label": "2 columns"
        }
      ]
    },
    {
      "type": "checkbox",
      "label": "Enable swipe on mobile",
      "id": "enable_swipe_mobile",
      "default": true
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "label": "Column gap mobile",
      "min": 0,
      "max": 50,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "row_gap_mobile",
      "label": "Row gap mobile",
      "min": 0,
      "max": 50,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}
