{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
  assign product_form_class = 'product-form-' | append: section.id
  assign variant_id = product.selected_or_first_available_variant.id
  assign selected_variant_id = ''
  unless section.settings.show_featured_media
    assign selected_variant_id = product.selected_variant.id
  endunless
-%}
<div
  class="m-product-quickview m-main-product__wrapper m:display-flex m-gradient m-color-{{ settings.popups_drawer_color_scheme }}"
  data-view="quick-view"
  data-section-id="{{ section.id }}"
  style="column-gap: 30px;"
>
  <product-recently-viewed data-product-id="{{ product.id }}" class="m:hidden"></product-recently-viewed>
  <div class="m-product-quickview--media  m:column m:w-full md:m:w-1/2 m:hidden md:m:block m-scrollbar--vertical">
    {% render 'product-media',
      product: product,
      section: section,
      class: 'm:hidden md:m:block'
      media_layout: 'h-slider',
      show_nav: true,
      show_thumbnails: true
    %}
  </div>
  <div class="m-product-quickview--info m:column m-scrollbar--vertical m:display-flex m:w-full md:m:w-1/2">
    <div class="m-product-info--wrapper">
      <div class="m-product-quickview__viewport m-scrollbar--vertical">
        <div class="md:m:hidden m-product-quickview--media-mobile">
          {% render 'product-media',
            screen: 'mobile'
            product: product,
            section: section,
            class: 'md:m:hidden',
            media_layout: 'h-slider',
            show_nav: true,
            show_thumbnails: true,
            show_thumbnails_mobile: true
          %}
        </div>
        <div class="main-product__block main-product__block-title">
          <div class="product-block-group product-block-group--title">
            <h1 class="m-product-title h3">
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h1>
          </div>
        </div>
        <div class="main-product__block main-product__block-review">
          {% render 'product-reviews-app__badge', product: product %}
        </div>
        <div class="main-product__block main-product__block-price">
          {% render 'product-prices',
            use_variant: true,
            product: product,
            show_sale_badge: false,
            sale_badge_type: 'text',
            price_text_size: 'h4'
          %}
        </div>
        {%- unless product.has_only_default_variant -%}
          <div class="main-product__block main-product__block-variant_picker">
            {% render 'product-option',
              product: product,
              update_browser_history: false,
              product_form_id: product_form_id
            %}
          </div>
        {%- endunless -%}
        <div class="main-product__block main-product__block-description">
          {{ product.description | strip_html | truncatewords: 25 }}
          <a class="m-product-quickview--viewmore m:block" href="{{ product.url }}">
            {{- 'products.product.view_details' | t -}}
          </a>
        </div>
      </div>
      <div class="m-product-quickview__footer">
        <div class="main-product__block main-product__block-buy_buttons">
          <product-form class="m-product-form m:w-full">
            {%- form 'product',
              product,
              id: product_form_id,
              data-product-id: product.id,
              class: product_form_class,
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form',
              data-product-id: product.id,
              data-product-handle: product.handle,
              data-dynamic-checkout: true
            -%}
              <input
                type="hidden"
                name="id"
                value="{{ variant_id }}"
                data-selected-variant="{{ selected_variant_id }}"
                disabled
              >
              <div class="m-product-form--wrapper m:display-flex m:flex-wrap m:items-end">
                <div class="m-product-form--input">
                  {% render 'product-qty-input', product_form_id: product_form_id, product: product %}
                </div>
                <button
                  type="submit"
                  name="add"
                  class="m-add-to-cart m-spinner-button m-button m-button--secondary{% unless product.selected_or_first_available_variant.available %} disabled{% endunless %}"
                  data-atc-text="{{ 'products.product.add_to_cart' | t }}"
                >
                  <span class="m-spinner-icon">
                    <svg
                      class="animate-spin m-svg-icon--medium"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                  </span>
                  <span class="m-add-to-cart--text">
                    {% if product.selected_or_first_available_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                </button>
                
                <div class="m-product-dynamic-checkout buy-one-click show-add-to-cart">
                  {{ form | payment_button }}
                </div>
              </div>
            {%- endform -%}
          </product-form>
        </div>
      </div>
    </div>
  </div>
</div>
