{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
{% liquid
  assign first_block = section.blocks[0]
  assign first_image_desktop = first_block.settings.image
  assign first_image_mobile = first_block.settings.image_mobile
  if section.settings.slide_height == 'adapt'
    assign aspect_ratio = first_image_desktop.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = first_image_mobile.aspect_ratio | default: aspect_ratio
  endif

  assign show_pagination = section.settings.show_pagination
  assign show_navigation = section.settings.show_navigation
  assign slide_effect = section.settings.slide_effect

  assign show_controls = false
  if show_pagination or show_navigation
    assign show_controls = true
  endif
%}
<style>
  @media (max-width: {{ settings.page_width }}px) {
    .m-slide__wrapper.m-page-width {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>
<section
  class="m-slide m-slide--{{ section.id }} m-slider--{{ section.settings.slide_height }} {{ section.settings.custom_class }}"
  data-section-type="slider"
  data-section-id="{{ section.id }}"
  style="--data-autoplay-speed: {{ section.settings.autorotate_speed }}s;"
>
  <div class="m-slide__wrapper{% if section.settings.layout == 'grid' %} m-page-width{% else %} m:w-full{% endif %}">
    <m-slideshow
      class="m:block"
      data-id="{{ section.id }}"
      data-autoplay="{{ section.settings.autorotate }}"
      data-autoplay-speed="{{ section.settings.autorotate_speed }}"
      data-pagination="{{ show_pagination }}"
      data-navigation="{{ show_navigation }}"
      data-show-controls="{{ show_controls }}"
      data-effect="{{ slide_effect }}"
      data-show-content-below="{{ section.settings.show_content_below_image }}"
    >
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% liquid
              assign image_desktop = block.settings.image
              assign image_mobile = block.settings.image_mobile
              assign heading_size = block.settings.heading_size
              assign alt_default = 'Slide ' | append: forloop.index

              assign content_position = ''
              case block.settings.content_position
                when 'top_left'
                  assign content_position = ' m:items-start m:justify-start'
                when 'top_right'
                  assign content_position = ' m:justify-end m:items-start'
                when 'top_center'
                  assign content_position = ' m:items-start m:justify-center'
                when 'middle_left'
                  assign content_position = ' m:items-center m:justify-left'
                when 'middle_right'
                  assign content_position = ' m:justify-end m:items-center'
                when 'middle_center'
                  assign content_position = ' m:items-center m:justify-center'
                when 'bottom_left'
                  assign content_position = ' m:items-end m:justify-start'
                when 'bottom_right'
                  assign content_position = ' m:items-end m:justify-end'
                when 'bottom_center'
                  assign content_position = ' m:justify-center m:items-end'
                else
                  assign content_position = ' m:items-center m:justify-center'
              endcase

              assign image_link = block.settings.image_link

              assign no_image = false
              if image_desktop == blank or image_mobile != blank and image_desktop == blank or image_mobile == blank and image_desktop == blank
                assign no_image = true
              endif

              assign color_scheme = block.settings.color_scheme
            %}

            {% capture adapt_style %}
              {% if section.settings.slide_height == 'adapt' %}
                style="--aspect-ratio: {{ aspect_ratio }}; --aspect-ratio-mobile: {{ aspect_ratio_mobile }}"
              {% endif %}
            {% endcapture %}

            <div
              {{ block.shopify_attributes }}
              data-index="{{ forloop.index0 }}"
              class="swiper-slide m-color-{{ color_scheme }} m-gradient"
              data-slide-type="{{ block.type }}"
            >
              <div class="m-slide {% if image_link != blank %} m-slide--has-link{% endif %}">
                <div class="m-slide__media">
                  {% if no_image %}
                    <{% if image_link != blank %}a href="{{ image_link }}"{% else %}div{% endif %} 
                      class="m-slide__bg m-slide__placeholder m-slide__bg--{{ section.settings.slide_height }} m:w-full m:h-full m:block {% if image_mobile != blank %}m:hidden md:m:block{% endif %}"
                      {{ adapt_style }}
                      aria-label="{{ block.settings.heading }}"
                    >
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full' }}
                    </{% if image_link != blank %}a{% else %}div{% endif %}>
                  {% endif %}
                  {% if image_desktop != blank %}
                    <{% if image_link != blank %}a href="{{ image_link }}"{% else %}div{% endif %} 
                      {{ adapt_style }}
                      class="m-slide__bg m:w-full m:h-full m-slide__bg--{{ section.settings.slide_height }} {% if image_mobile != blank %}m:hidden md:m:block{% else %}m:block{% endif %}"
                      aria-label="{{ block.settings.heading }}"
                    >
                      {%- liquid
                        assign image_height = image_desktop.width | divided_by: image_desktop.aspect_ratio | round
                        assign atl = image_desktop.alt | default: alt_default
                      -%}
                      {%- capture myimage -%}
                      {{
                        image_desktop
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'eager',
                          width: image_desktop.width,
                          height: image_height,
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          class: "lazyload",
                          alt: atl
                        | escape
                      }}
                      {%- endcapture -%}
                      {{ myimage | replace: 'src=', 'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=' | replace: 'srcset=', 'data-srcset=' }}
                    </{% if image_link != blank %}a{% else %}div{% endif %}>
                  {% endif %}
                  {% if image_mobile != blank %}
                    <{% if image_link != blank %}a href="{{ image_link }}"{% else %}div{% endif %}
                      {{ adapt_style }}
                      class="m-slide__bg md:m:hidden m:block m:w-full m:h-full m-slide__bg--{{ section.settings.slide_height }}"
                      aria-label="{{ block.settings.heading }}"
                    >
                      {%- liquid
                        assign image_height = image_mobile.width | divided_by: image_mobile.aspect_ratio | round
                        assign atl = image_mobile.alt | default: alt_default
                      -%}
                      {%- capture myimage -%}
                      {{
                        image_mobile
                        | image_url: width: 1100
                        | image_tag:
                          loading: 'eager',
                          width: image_mobile.width,
                          height: image_height,
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100',
                          class: "lazyload",
                          alt: atl
                        | escape
                      }}
                      {%- endcapture -%}
                      {{ myimage | replace: 'src=', 'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=' | replace: 'srcset=', 'data-srcset=' }}
                    </{% if image_link != blank %}a{% else %}div{% endif %}>
                  {% endif %}
                </div>
                <div 
                  class="m-slide__content m-slide__content--{{ heading_size }}{% if section.settings.show_content_below_image %} m-slide__content--below-image{% endif %}{% if show_controls %} m-slide__has-controls{% endif %}"
                  data-color-scheme="m-color-{{ color_scheme }}"
                >
                  <div class="m-slide__content--wrapper m:display-flex m:h-full{% if block.settings.enable_container_box %} m-page-width{% endif %}{{ content_position }}">
                    <div class="m-slide__content--inner{% if section.settings.show_content_below_image %} m:text-{{ section.settings.content_alignment_mobile }} md:m:text-{{ block.settings.content_alignment }}{% else %} m:text-{{ block.settings.content_alignment }}{% endif %}">
                      {%- assign animate_delay = 1 -%}
                      {% if block.settings.sub_heading != blank %}
                        <p class="m-slide__content-subheading" data-animate data-animate-delay-{{ animate_delay }}>
                          {{ block.settings.sub_heading }}
                        </p>
                        {%- assign animate_delay = animate_delay | plus: 1 -%}
                      {% endif %}
                      {% if block.settings.heading != blank %}
                        <h2
                          class="m-slide__content-heading {{ heading_size }}"
                          data-animate
                          data-animate-delay-{{ animate_delay }}
                        >
                          {{ block.settings.heading }}
                        </h2>
                        {%- assign animate_delay = animate_delay | plus: 1 -%}
                      {% endif %}
                      {% if block.settings.description != blank %}
                        <div class="m-slide__content-description" data-animate data-animate-delay-{{ animate_delay }}>
                          {{ block.settings.description }}
                        </div>
                        {%- assign animate_delay = animate_delay | plus: 1 -%}
                      {% endif %}
                      {% if block.settings.button_label != blank %}
                        <div 
                          class="m-slide__content-button"
                          data-animate
                          data-animate-delay-{{ animate_delay }}
                        >
                          {% capture arrow  %}<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 2.25L8.25 6L4.5 9.75" stroke="CurrentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>{% endcapture %}
                          {% capture triangle %}<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.51531 5.73474L4.76531 1.98474C4.71287 1.93223 4.64602 1.89647 4.57324 1.88198C4.50046 1.86748 4.42501 1.87491 4.35645 1.90332C4.28789 1.93172 4.22931 1.97984 4.1881 2.04156C4.1469 2.10328 4.12494 2.17584 4.125 2.25005V9.75005C4.12494 9.82426 4.1469 9.89682 4.1881 9.95855C4.22931 10.0203 4.28789 10.0684 4.35645 10.0968C4.42501 10.1252 4.50046 10.1326 4.57324 10.1181C4.64602 10.1036 4.71287 10.0679 4.76531 10.0154L8.51531 6.26536C8.55018 6.23054 8.57784 6.18918 8.59671 6.14365C8.61558 6.09813 8.62529 6.04933 8.62529 6.00005C8.62529 5.95077 8.61558 5.90197 8.59671 5.85645C8.57784 5.81092 8.55018 5.76957 8.51531 5.73474Z" fill="currentColor"/></svg>{% endcapture %}
                          {% liquid 
                            assign is_button_icon = false
                            if block.settings.button_label contains '[arrow]' or block.settings.button_label contains '[triangle]'
                              assign is_button_icon = true
                            endif
                          %}
                          <a
                            href="{{ image_link | default: '#' }}"
                            class="m-button {{ block.settings.button_style }}{% if is_button_icon %} m-button--with-icon{% endif %}"
                          >
                            {{- block.settings.button_label | replace: '[arrow]', arrow | replace: '[triangle]', triangle -}}
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if show_controls %}
          {%- liquid
            assign classes = ''
            if section.settings.show_content_below_image 
              assign classes = 'm-slide__content--below-image'
            endif
          -%}
          {% render 'slider-controls',
            container: section.settings.layout,
            show_nav: show_navigation,
            show_pagination: show_pagination,
            extra_classes: classes
          %}
        {% endif %}
      </div>
    </m-slideshow>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "select",
      "id": "slide_effect",
      "label": "Slide effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "select",
      "id": "slide_height",
      "label": "Slide height",
      "default": "adapt",
      "options": [
        {
          "label": "Adapt to first image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Full screen",
          "value": "full-screen"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Change slides every",
      "info": "Work when auto-rotate",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 5
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "checkbox",
      "id": "show_content_below_image",
      "label": "Show content below image",
      "default": false
    },
    {
      "type": "text_alignment",
      "id": "content_alignment_mobile",
      "label": "Text alignment",
      "default": "center",
      "info": "Only change when show content below image"
    },
    {
      "type": "header",
      "content": "Custom attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    }
  ],
  "blocks": [
    {
      "name": "Image slide",
      "type": "image_slide",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "scheme-1",
          "label": "Color scheme"
        },
        {
          "type": "header",
          "content": "Images settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image on desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image on mobile"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Slide link"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "checkbox",
          "id": "enable_container_box",
          "label": "Enable container box",
          "default": true
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "top_left",
              "label": "Top-left"
            },
            {
              "value": "top_right",
              "label": "Top-right"
            },
            {
              "value": "top_center",
              "label": "Top-center"
            },
            {
              "value": "middle_left",
              "label": "Middle-left"
            },
            {
              "value": "middle_right",
              "label": "Middle-right"
            },
            {
              "value": "middle_center",
              "label": "Middle-center"
            },
            {
              "value": "bottom_left",
              "label": "Bottom-left"
            },
            {
              "value": "bottom_right",
              "label": "Bottom-right"
            },
            {
              "value": "bottom_center",
              "label": "Bottom-center"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "text_alignment",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "center"
        },
        {
          "type": "inline_richtext",
          "id": "sub_heading",
          "label": "Sub heading"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "Image slide"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "m-button--primary",
              "label": "Primary"
            },
            {
              "value": "m-button--secondary",
              "label": "Secondary"
            },
            {
              "value": "m-button--outline",
              "label": "Outline"
            },
            {
              "value": "m-button--link",
              "label": "Underline"
            },
            {
              "value": "m-button--blank",
              "label": "Plain"
            }
          ],
          "default": "m-button--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "image_slide"
        },
        {
          "type": "image_slide"
        },
        {
          "type": "image_slide"
        }
      ]
    }
  ]
}
{% endschema %}
